body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}  

.navbg {
    background-color: rgb(6, 17, 43)
}

.cardwidth {
     width: 17rem;
}

.custommt {
    margin-top: 4.5rem;
    width: 100vw;
}

.carouselbg {
    background: linear-gradient(53.09deg, rgb(27, 79, 193) 2.64%, rgb(6, 17, 43) 61.29%);
}

.carouselimg {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

/* for mobile devices */

@media (max-width: 576px) {
    .carouselbg {
        height: 350px;
    }

    .carouselname {
        font-size: 2rem;
        margin-bottom: 1rem;
        width: 50%;
    }

    .carouselimg {
        width: 140%;
        height: 340px;
        object-fit: contain;
    }

    .carousertxt {
        font-size: 12px;
        width: 20vw;
    }

    .carouselp {
        width: 12rem;
        height: 6rem; 
    }

    .carouselbtn {
        width: 7rem;
        height: 3rem;
        margin-right: 13rem;
    }

    .ctmtruncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .logincard {
        background-color: rgb(8, 40, 91);
        color: white;
        height: 25%;
        width: 17rem;
        margin-bottom: 30rem;
        border-radius: 50px;
    }

    .logincard h1 {
        font-size: 1.5rem;
        margin: 1rem 0rem !important;
    }

    .loginbtn {
        min-width: 10rem;
        padding: 15rem 4rem 0 4rem;
        position: absolute;
    }
      
}

/* for tablets or medium screens */

@media (min-width: 576px) and (max-width: 768px) {
    .carouselbg {
        max-height: 500px;
    }

    .carouseltxt {
        width: 50%;
        font-size: 16px;
        text-align: center;
    }

    .carouselimg {
        width: 150%;
        height: 400px;
    }
    
    .carouselname {
        margin: 2rem;
        width: 50%;
    }
    
    .carouselp {
        width: 12rem;
        height: 9rem;
        margin-left: 1rem;
        text-align: justify;
    }

    .carouselbtn {
        width: 7rem;
        height: 3rem;
        margin-right: 6rem;
    }

    .ctmtruncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        line-clamp: 6;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .logincard {
        background-color: rgb(8, 40, 91);
        color: white;
        width: 45vw;
        height: 40vh;
        border-radius: 50px;
        margin-top: 3rem;
        padding-top: 3rem;
    }

    .loginbtn {
        min-width: 11rem;
        font-size: 1.5rem;
        padding: 5.5rem 0.2rem;
    }

    
}


/* for large screens */

@media (min-width: 768px) and (max-width: 992px) {
    .carouselbg {
        max-height: 500px;
    }

    .carouseltxt {
        width: 40%;
    }

    .carouselimg {
        width: 145%;
        height: 400px;
    }
    
    .carouselname {
        margin: 2rem;
        padding-left: 2rem;
    }
    
    .carouselp {
        width: 15rem;
        height: 9rem;
        margin-left: 4rem;
        text-align: justify;
    }

    .ctmtruncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        line-clamp: 6;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .logincard {
        background-color: rgb(8, 40, 91);
        color: white;
        width: 45vw;
        height: 58vh;
        border-radius: 50px;
        margin-top: 3rem;
        padding-top: 7rem;
    }

    .loginbtn {
        min-width: 20rem;
        font-size: 1.5rem;
        padding: 9rem 2rem;
        margin-bottom: 1rem;
    }
}

/* for extra large screens */

@media (min-width: 992px) {
    .carouselbg {
        height: 530px;
    }

    .carouseltxt {
        width: 20vw;
        padding-bottom: 6rem;
    }

    .ctmtruncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        line-clamp: 7;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .logincard {
        background-color: rgb(8, 40, 91);
        color: white;
        width: 48vw;
        height: 89vh;
        border-radius: 50px;
        padding-top: 13rem;
    }

    .loginbtn {
        min-width: 30rem;
        font-size: 1.5rem;
        padding: 14rem 7rem;
        margin-bottom: 1rem;
    }
}